*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: black;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #F79B14;
}

h1{
    text-decoration: none;
    color: white;
}

p{
    color: white;
    text-align: justify;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col2{
    flex-basis: 50%;
    min-width: 300px;
}

.col2 img{

    max-width: 100%;
    padding: 50px 0;
}

.col2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #F79B14;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    box-shadow: 2px 2px black;
    transition: background 0.5s;
}

.btn:hover{
    background: #ac6c0e;
}

.header{
    background: radial-gradient(black, #2F2F2E);
}

.header .row{
    margin-top: 70px;
}

.categories{
    margin: 70px 0;
}

.col3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform 0.5s;
}

.col3:hover{
    transform: translateY(-5px);
}

.col3 img{
    width: 100%;
    border-radius: 10px;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.col4{
    
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.col4 img{
    width: 500px;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: white;
}

.title2{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: white;
}

.title2::after{
    content: '';
    background: #F79B14;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.title::after{
    content: '';
    background: #F79B14;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.small-container2{
    background: black;
}

h4{
    color: white;
    font-weight: normal;
}

.footer{
    background: #2F2F2E;
    color: white;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: white;
}

.footer h3{
    color: white;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 125px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 50px;
}

.footer hr{
    color: #F79B14;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

.active{
    color: #F79B14;
}

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #2F2F2E;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }

}

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col2, .col3, .col4{
        flex-basis: 100%;
    }

}

.section{
    width: 100%;
    min-height: 100vh;
    background: black;
}

.section .container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.section .container .content-section{
    float: left;
    width: 55%;
}

.image-section{
    float: right;
    width: 40%;
}

.image-section img{

    width: 90%;
    height: auto;  
    padding-top: 90px;
}

.soon{
    text-align: center;
    background: black;
}

.cont{
   
    width: 80%;
    margin: 50px auto;
}

.cont h1{
    margin-bottom: 10px;
}

.contact-box{
    background: white;
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #2F2F2E;
    color: white;
}

.input-row{
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    display: block;
}

.contact-left h3{
    color: #2F2F2E;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}

tr td{
    padding-top: 20px;
}